@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);


/*
	Museo
*/


@font-face {
    font-family: 'Museo';
    src: url('../fonts/museosanscyrl_300-webfont.eot');
    src: url('../fonts/museosanscyrl_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_300-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_300-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_300-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_300-webfont.svg#Museo') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museosanscyrl_300_italic-webfont.eot');
    src: url('../fonts/museosanscyrl_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_300_italic-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_300_italic-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_300_italic-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_300_italic-webfont.svg#Museo') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museosanscyrl_500-webfont.eot');
    src: url('../fonts/museosanscyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_500-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_500-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_500-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_500-webfont.svg#Museo') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museosanscyrl_500_italic-webfont.eot');
    src: url('../fonts/museosanscyrl_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_500_italic-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_500_italic-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_500_italic-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_500_italic-webfont.svg#Museo') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museosanscyrl_700-webfont.eot');
    src: url('../fonts/museosanscyrl_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_700-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_700-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_700-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_700-webfont.svg#Museo') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museosanscyrl_700_italic-webfont.eot');
    src: url('../fonts/museosanscyrl_700_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosanscyrl_700_italic-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_700_italic-webfont.woff') format('woff'),
         url('../fonts/museosanscyrl_700_italic-webfont.ttf') format('truetype'),
         url('../fonts/museosanscyrl_700_italic-webfont.svg#Museo') format('svg');
    font-weight: 700;
    font-style: italic;
}